<div class="alert alert-warning text-center" role="alert">
    This applications is powered by Octokit.
    <span>There are @ViewBag.RateLimit.Remaining requests remaining. It will reset on @ViewBag.RateLimit.Reset.LocalDateTime.ToString().</span>
</div>